[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-wtf = {extras = ["email"], version = "*"}
flask-sqlalchemy = "*"
psycopg2-binary = "*"
psycopg = "*"
flask-migrate = "*"
flask-login = "*"
flask-uploads = "*"
flask-mail = "*"
gunicorn = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
