@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body{
    background: #7A93AC;
    color: #171A21;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}

/* NAV CSS */
.navbar-brand{
    color: #171A21 !important;
}
.nav-link{
    color: #171A21 !important;
}
.nav-link:hover{
    color: #171A21 !important;
}
.nav-link:hover{
    color: #fff !important;
}
.navbar-toggler-icon{
    color: #fff !important;
}



/* WELCOME SECTION */
.view-btn{
    border-color: #F08700;
    color: #171A21;
}
.view-btn:hover{
    color: #fff;
    background-color: #F08700;
}
.register-btn{
    background-color: #F08700;
    border-color: #F08700;
    color: #171A21;
}
.register-btn:hover{
    color: #fff;
}
.register-link{
    text-decoration: none;
    color: #171A21;
}

.fa-comments{
    color: #F08700;
}
.fa-thumbs-up{
color: green;
}
.fa-thumbs-down{
color:  red;
}
.votes{
    color: #171A21;
}

.pitch, .comment{
    text-decoration: none;
    color: #171A21;
}

.pitch:hover, .comment:hover{
    color: #F08700;
}