@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body{
    background: #7A93AC;
    color: #171A21;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}

/* NAV CSS */
.navbar-brand{
    color: #171A21 !important;
}
.nav-link{
    color: #171A21 !important;
}
.nav-link:hover{
    color: #171A21 !important;
}
.nav-link:hover{
    color: #fff !important;
}
.navbar-toggler-icon{
    color: #fff !important;
}

/* WELCOME SECTION */
.btn{
    background-color: #617073;
    border-color: #617073;
    color: #171A21;
}