{%extends 'base.html'%}
{%include 'nav.html' %}



{%block body%}
{%block styles%}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{%endblock%}
<div class="container">
    <div class="row">
        <div class="col-md-6 float-start mt-5">
            <p class="fs-1"><strong> First Impressions</strong></p>
            <hr class="w-50">
            <p class="fs-3">If all it took was one minute.<br>What would you say to impress?</p>
            <button class="btn  mt-4" >View Pitches</button>

        </div>
    
    
        <div class="col-md-6">
            <!-- Registration form  -->
        </div>
    </div>

</div>


{%endblock%}