{%extends 'base.html'%}
{%include 'nav.html' %}

{%block body%}

<div class="container card-group">
    {%for pitch in pitches %}
    <div class="card border-info m-1" style="max-width: 25rem;">
        <div class="card-header w-100">{{pitch['poster']}}</div>
        <div class="card-body">
          <h5 class="card-title">{{pitch['category']}}</h5>
          <p class="card-text">{{pitch['body']}}</p>
        </div>
        <div class="row p-3">
            {%if current_user.is_authenticated%}
            <a class ="col-md-4 col-sm-4" class="comment col-md-6" href="{{(url_for('main_blueprint.new_comment'))}}">
                <i class="fa fa-comments" aria-hidden="true"></i>
            </a>  
            {%else%}
            <i class="fa fa-comments col-md-4 col-sm-4" aria-hidden="true">
                <a class='pitch' href="{{(url_for('auth_blueprint.register'))}}">Register to view</a>
            </i>
            {%endif%}
            <i class="fa fa-thumbs-up col-md-4 col-sm-4" aria-hidden="true">
                <span class="votes">{{pitch['upvotes']}}</span>
            </i>
            <i class="fa fa-thumbs-down col-md-4 col-sm-4" aria-hidden="true">
                <span class="votes">{{pitch['downvotes']}}</span>
            </i>
            <div class="row pt-3 mt-5">
            {%if current_user.is_authenticated%}
            <a class="comment col-md-6"href="{{(url_for('main_blueprint.new_comment'))}}">Leave a comment</a>
            <a class="pitch col-md-6" href="{{(url_for('main_blueprint.add_pitch'))}}">Post Pitch</a>
            {%else%}
            <a class='pitch' href="{{(url_for('auth_blueprint.register'))}}">Post Pitch</a>
            {%endif%}
            </div>
            
        </div>
        
      </div>
    {{pitch['content']}}
    {%endfor%}
</div>

{%endblock%}